.form {
    // 

    .form-field {
        flex: 1;
        display: flex;
        line-height: 30px;
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 25px;
        }

        label {
            gap: 5px;
            display: flex;
            padding-bottom: 5px;

            &[for] {
                font-weight: 700;
            }

            span {
                margin: auto 0;
            }
        }

        input:not([type="file"]), textarea, select {
            font-size: 16px;
            border-radius: 5px;
        }

        input:not([type="file"]) {
            height: 40px;
            padding: 0 20px;
            background-color: var(--c-white);
            border: 1px solid transparent;
        }

        input:disabled {
            background-color: var(--c-silver);
        }

        textarea {
            height: 150px;
            padding: 20px;
            resize: vertical;
            background-color: var(--c-white);
            border: 1px solid transparent;
        }

        select {
            height: 40px;
            padding: 0 15px;
            background-color: var(--c-white);
            border: 1px solid transparent;

            &[multiple] {
                height: 150px;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        small {
            line-height: 1.5;
            padding-top: 10px;
        }
    }

    .form-field-inline {
        gap: 25px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 25px;
        flex-direction: row;

        .field {
            flex: 1;
            border: 1px solid transparent;
            border-radius: 0% !important;
        }

        .form-field {
            margin-bottom: 0;
        }
    }

    .form-information {
        text-align: center;
        margin-bottom: 25px;
    }

    .form-actions {
        text-align: right;

        .btn:not(:first-child) {
            margin-left: 10px;
        }
    }
}